.btn_active {
    background-color: var(--primary);
}

.btn {
    border-radius: 6px;
    border: transparent;
    padding: 10px 15px;
}

.btn_disabled {
    cursor: not-allowed;
}

.pagination {
    display: flex;
    gap: 4px;
}

